[project]
	description = NHL Gamecenter Live Sender (Receiver)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Blahartinger
[access "refs/for/refs/*"]
	read = group user/Blahartinger
	push = group user/Blahartinger
	label-Code-Review = -2..+2 group user/Blahartinger
	label-Verified = -1..+1 group user/Blahartinger
	rebase = group user/Blahartinger
	removeReviewer = group user/Blahartinger
	submit = group user/Blahartinger
[access "refs/heads/*"]
	read = group user/Blahartinger
	create = group user/Blahartinger
	push = +force group user/Blahartinger
	pushMerge = group user/Blahartinger
[access "refs/tags/*"]
	push = +force group user/Blahartinger
	pushTag = group user/Blahartinger
	pushSignedTag = group user/Blahartinger
